:root {
}

@media (prefers-color-scheme: dark) {
}

* {
  padding: 0;
  margin: 0;
}

main {
  flex-grow: inherit;
  padding-left: 1rem;
  padding-right: 1rem;
  width: 100%;
  max-width: 72rem;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 0.15s;
  margin: auto;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
